In [4]:
import pandas as pd
# conda install pandas-datareader
from pandas_datareader import data, wb

In [19]:
pd.datetime(2016, 4, 27)

datetime.datetime(2016, 4, 27, 0, 0)

In [28]:
aapl.loc[pd.date_range(start="01/01/1990", end="01/01/2000")]

,Open,High,Low,Close,Volume,Adj Close
1990-01-01,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-02,35.249999,37.500000,35.000000,37.250001,45799600.0,1.151017
1990-01-03,37.999999,37.999999,37.500000,37.500000,51998800.0,1.158742
1990-01-04,38.250001,38.749999,37.250001,37.625000,55378400.0,1.162604
1990-01-05,37.750000,38.250001,36.999999,37.750000,30828000.0,1.166467
1990-01-06,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-07,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-08,37.500000,37.999999,36.999999,37.999999,25393200.0,1.174191
1990-01-09,37.999999,37.999999,36.999999,37.625000,21534800.0,1.162604
1990-01-10,37.625000,37.625000,35.750000,36.000000,49929600.0,1.112392
1990-01-11,36.249999,36.249999,34.499999,34.499999,52763200.0,1.066042
1990-01-12,34.250000,34.750001,33.750001,34.499999,42974400.0,1.066042
1990-01-13,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-14,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-15,34.499999,35.750000,34.250000,34.250000,40434800.0,1.058317
1990-01-16,33.499999,35.000000,32.749999,34.875000,53561200.0,1.077630
1990-01-17,34.750001,34.750001,33.000001,33.250000,49324800.0,1.027418
1990-01-18,33.000001,33.499999,32.250000,32.375000,68322800.0,1.000380
1990-01-19,33.750001,34.499999,33.499999,34.250000,66284400.0,1.058317
1990-01-20,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-21,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-22,34.000000,34.499999,33.250000,33.250000,36402800.0,1.027418
1990-01-23,33.750001,34.250000,33.000001,33.750001,35218400.0,1.042867
1990-01-24,32.500000,34.250000,32.250000,34.000000,42448000.0,1.050592
1990-01-25,34.250000,34.750001,34.000000,34.125000,27885200.0,1.054455
1990-01-26,34.000000,34.000000,32.250000,32.749999,45312400.0,1.011968
1990-01-27,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-28,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-29,33.000001,33.499999,32.125001,33.250000,29982400.0,1.027418
1990-01-30,33.250000,34.499999,33.000001,34.000000,29111600.0,1.050592
...,...,...,...,...,...,...
1999-12-03,112.187494,115.562498,111.874997,115.000002,161980000.0,3.803581
1999-12-04,NaN,NaN,NaN,NaN,NaN,NaN
1999-12-05,NaN,NaN,NaN,NaN,NaN,NaN
1999-12-06,114.562502,117.312498,111.437497,115.999998,116695600.0,3.836656
1999-12-07,116.562494,118.000004,114.000006,117.812496,111255200.0,3.896603
1999-12-08,116.250004,117.874994,109.500003,110.062499,103087600.0,3.640275
1999-12-09,110.999997,110.999997,100.874999,105.249999,213799600.0,3.481103
1999-12-10,105.312497,109.249997,99.000003,103.000001,159440400.0,3.406686
1999-12-11,NaN,NaN,NaN,NaN,NaN,NaN
1999-12-12,NaN,NaN,NaN,NaN,NaN,NaN
1999-12-13,102.390601,102.500003,98.937498,99.000003,132490400.0,3.274387
1999-12-14,98.375002,99.750000,94.749999,94.875002,108967600.0,3.137954
1999-12-15,93.249998,97.250003,91.062498,96.999997,155744400.0,3.208238
1999-12-16,98.000000,98.375002,94.000002,98.312497,115956400.0,3.251648
1999-12-17,100.874999,101.999998,98.499998,99.999999,123751600.0,3.307462
1999-12-18,NaN,NaN,NaN,NaN,NaN,NaN
1999-12-19,NaN,NaN,NaN,NaN,NaN,NaN
1999-12-20,99.562499,99.624997,96.625002,98.000000,70996800.0,3.241313
1999-12-21,98.187501,103.062499,97.937502,102.500003,76899200.0,3.390148
1999-12-22,102.874998,104.562500,98.749997,99.937501,81768400.0,3.305395
1999-12-23,101.812497,104.250003,101.062500,103.499999,57383200.0,3.423223
1999-12-24,NaN,NaN,NaN,NaN,NaN,NaN
1999-12-25,NaN,NaN,NaN,NaN,NaN,NaN
1999-12-26,NaN,NaN,NaN,NaN,NaN,NaN
1999-12-27,104.374999,104.437497,99.250002,99.312500,42098000.0,3.284723
1999-12-28,99.124999,99.624997,94.999998,98.187501,61894000.0,3.247514
1999-12-29,96.812503,102.187499,95.500003,100.687498,71125600.0,3.330200
1999-12-30,102.187499,104.125000,99.624997,100.312503,51786000.0,3.317798
1999-12-31,100.937497,102.874998,99.500001,102.812500,40952800.0,3.400484
2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
aapl = data.DataReader("AAPL", "yahoo", start="01/01/1990", end="01/01/2016")

In [29]:
aapl.head()

                 Open       High        Low      Close    Volume  Adj Close
Date
1990-01-02  35.249999  37.500000  35.000000  37.250001  45799600   1.151017
1990-01-03  37.999999  37.999999  37.500000  37.500000  51998800   1.158742
1990-01-04  38.250001  38.749999  37.250001  37.625000  55378400   1.162604
1990-01-05  37.750000  38.250001  36.999999  37.750000  30828000   1.166467
1990-01-08  37.500000  37.999999  36.999999  37.999999  25393200   1.174191

In [30]:
aapl.index[0]

Timestamp('1990-01-02 00:00:00')

In [36]:
aapl.resample("3D").head()

C:\Users\dbackus\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: .resample() is now a deferred operation
use .resample(...).mean() instead of .resample(...)
  if __name__ == '__main__':

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
1990-01-02,37.166666,38.083333,36.583334,37.458334,5.105893e+07,1.157454
1990-01-05,37.750000,38.250001,36.999999,37.750000,3.082800e+07,1.166467
1990-01-08,37.708333,37.874999,36.583333,37.208333,3.228587e+07,1.149729
1990-01-11,35.250000,35.500000,34.125000,34.499999,4.786880e+07,1.066042
1990-01-14,33.999999,35.375000,33.500000,34.562500,4.699800e+07,1.067973